*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* --clr-primary :#00ADB5;
  --clr-secondary : #eeeeee;
  --clr-main : #222831;
  --clr-submain : #393E46; */
  --navbar-size : 10rem;
  --clr-white: #FFFFFF;
  --clr-desc: #D3EBE3;
  --clr-green: #03FFA1;
  --clr-predator: #01B873;
  --clr-main: #000;
  --clr-submain : #0e0e0c;
  --text-shadow: 0 0 20px rgb(0 236 207 / 50%);
  font-family: "Space Mono", monospace;
  
  padding-top: var(--navbar-size);
  background-color: var(--clr-main);
  min-height: 100vh;
}

button, input, textarea {
  font-family: "Space Mono", monospace;
}



